.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 36px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: burlywood;
  min-width: 100vw;
}

.location {
  font-size: 24px;
  margin-bottom: 20px;
}

.wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.icon {
  height: 56px;
  margin-right: 10px;
}

.current {
  font-size: 48px;
  line-height: 1;
}

.range {
  font-size: 26px;
  margin-bottom: 20px;
  color: #666;
}

.description {
  font-size: 24px;
}

.week {
  display: flex;
  max-width: 100vw;
  overflow: auto;
  margin-top: 20px;
  padding-left: 10px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #999;
  padding: 5px;
  min-width: 84px;
}

.item {
  margin: 5px;
}

.active {
  background-color: burlywood;
}
